<%- include("../../../partials/admin_header.ejs") %>

<!DOCTYPE html>
<html>
    <head>
        <style>
      body {
      font-family: Arial, sans-serif;
    }

    .form-container {
      flex-direction:column;  
      max-width: 500px;
      margin: 80px auto;
      padding: 30px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
      height:80vh;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    button {
      width: 100%;
      padding: 12px;
      background-color: #007BFF;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    input {
        width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    button:hover {
      background-color: #0056b3;
    }
        </style>
    </head>
    <body>
        <h2 style="text-align:center"><%= Query1 %></h2> 
        <div class="form-container">
            <h2>Assign Grade</h2> 
            <form action="/update_grade" method="POST">
              <label for="course_id">Course ID</label>
              <input type="text" id="course_id" name="course_id" required />
        
              <label for="student_id">Student ID</label>
              <input type="text" id="student_id" name="student_id" required />
        
              <label for="semester">Semester</label>
              <input type="text" id="semester" name="sem" required />
              
              <label for="grade">Grade</label>
              <input type="text" id="grade" name="grade" required />
              
              <button type="submit">Assign Grade</button>
            </form>
          </div>
    </body> 
</html>