<%- include("../partials/header.ejs") %>
<body>
    <form action="/semester_a" method="POST">
      <label for="semester"> Please enter your semester </label>
      <input type="text" name="semester_attendance" placeholder="Semester" required />
    </form>
  </body>